HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.
/src/main/resources/static/FileSystem/Users/anton2345/
/src/main/resources/static/FileSystem/Users/antonfedorov/
/src/main/resources/static/FileSystem/Users/antonfedorov1/
/src/main/resources/static/FileSystem/Users/duck1/
/src/main/resources/static/FileSystem/Users/guboyaneduard/
/src/main/resources/static/FileSystem/Users/guboyaneduard@mail.u/
/src/main/resources/static/FileSystem/Users/nmnmjijjk/
/src/main/resources/static/FileSystem/Users/sdfdsdfgsfdasfvgb/
/src/main/resources/static/FileSystem/Users/sdfdsdfgsfdasfvm/
/src/main/resources/static/FileSystem/Users/ssdfsdfsdf/
/src/main/resources/static/FileSystem/Users/Эдуард_Губоян/
