.container_s {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    height: 30vh;
}

html, body {
    height: 100%;
}

body {

    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    min-width: 320px;

}
form p, label {

    text-align: center;
}

.hidden {

    display: none;

}


input {

    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;

}

input:focus {

    outline: none;
    border-color: #bb86fc;

}






.wrapper {
    min-height: 100%;

    flex-direction: column;
}

main.main {
    padding-top: 3%;
    flex: 1 1 auto;

}

.header {
    background-color: #000000;

}
.header p {
    padding-top: 20px;

    margin-left: 300px;
}

#profile2 {

    padding: 0;
    margin: 0;
}

#userImage{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 5px solid #515452;
}


.top{
    display: flex;
    height: 25vh;
    width: 100%;
    background-color: #43364d;

    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;

}

.buttons{
    padding-left: 20%;
}

.dark-button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 2px solid #444444;
    border-radius: 5px;

    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 10vw;
    height: 4vh;
}

#fcs {
    padding-left: 20px;
    padding-top: 80px;
    font-weight: bold;

}

.note {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 70%;


    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    border: 1px solid #b6b4b4;

    margin-bottom: 20px;
}

.top_feed {
    display: flex;
}

.note img {

    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 5px solid #515452;

}

.new_note {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 70%;


    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    border: 1px solid #b6b4b4;

    margin-bottom: 20px;
}